* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title-container {
    display: flex;
    border: 2px solid black;
    height: 80px;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.grid-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 730px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    box-sizing: content-box;
}

.grid-blocks {
    box-sizing: border-box;
    border: 1px solid black;
}