*{
    box-sizing: border-box;
    margin: 0;
}

.title-container{
    display: flex;
    border: 2px solid black;
    height: 80px;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.central-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 730px;
}

.grid-container{
    display: flex;
    width: 400px;
    height: 400px;
    border: 2px solid brown;
}

.grid-blocks{
    height: 20px;
    width: 20px;
    border: 2px solid red;
}